<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title>Makri!</title>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<body>
<h1>Input raw test </h1>


  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    Enter Text: <br/>
    <input type="text" name="data"/>
    <input type="submit"/>
    <br/>
    {{form}}
    <input type="submit" />

  </form>
{%if stat%}
  <br/>{{output}}
{% endif %}
</body>
</html>
